numpy>=1.26,<2.0
pandas>=2.2,<3.0
ogb>=1.3.6
optuna>=4.0
rdflib>=7.0
colorama>=0.4.6
colorlog>=6.0
igraph>=0.11
torch>=2.3,<=2.4.0
-f https://data.dgl.ai/wheels/torch-2.4/cu121/repo.html
dgl>=2.2,<=2.4.0
TensorBoard>=2.0.0
lmdb>=1.6
ordered-set>=4.1
scikit-learn>=1.3,<1.7
